.dark-mode {
    /* Dark mode variables */
    --background: #15151a;
    --text: #e2e2e4;
    --primary: #14ccff;
    --secondary: #1e1e35;
}

.light-mode {
    --background: #FFFCFC;
    --text: #15151a;
    --primary: #08b2e3;
    --secondary: #cbf2fc;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.3s ease-in-out;

}

.heading {
    display: flex;
    flex-direction: row-reverse;
}

h1 {
    font-size: 2.5rem;
    margin: 5px auto 25px auto;
    text-align: center;
    justify-self: center;
}

.toggle-dark-mode {
    height: 50px;
    width: 50px;
    position: absolute;
    margin: 10px 15px 10px 15px;
}

.toggle-dark-mode:hover {
    cursor: pointer;
}

.sun {
    height: 45%;
    width: 45%;
    border-radius: 50%;
    background-color: rgb(255, 212, 55);
    margin: 13.75px auto;
    transition: transform 0.3s;
}

.sun-ray {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(255, 212, 55);
    position: absolute;
    transition: transform 0.3s;
}

.sun-ray:nth-of-type(1) {
    transform: translate(6.75px, 25px);
}

.sun-ray:nth-of-type(2) {
    transform: translate(6.75px, -12.5px);
}

.sun-ray:nth-of-type(3) {
    transform: translate(-12.5px, 5px);
}

.sun-ray:nth-of-type(4) {
    transform: translate(25px, 5px);
}

.sun-ray:nth-of-type(5) {
    transform: translate(-7px, 20px);
}

.sun-ray:nth-of-type(6) {
    transform: translate(-7px, -8px);
}

.sun-ray:nth-of-type(7) {
    transform: translate(20px, -8px);
}

.sun-ray:nth-of-type(8) {
    transform: translate(20px, 20px);
}


.sun-ray-cover-active:nth-of-type(1n) {
    transform: translate(6.75px, 6.75px);
    background-color: var(--background);
}

.sun-inactive {
    background-color: var(--background);
    height: 70%;
    width: 70%;
    transform: translate(-10px, -10px);
}

.moon {
    height: 100%;
    width: 100%;
    background-color: var(--background);
    border-radius: 50%;
    display: inline-block;
    transition: all 0.3s 0.3s;
}

.moon-active {
    height: 100%;
    width: 100%;
    background-color: rgb(244, 244, 224);
}

.main-grid {
    height: 450px;
    width: 450px;
    margin: auto 10px auto 150px;
    outline: 5px solid var(--text);
    display: flex;
    flex-wrap: wrap;
}

.three-by-three-grid {
    height: 150px;
    width: 150px;
    outline: 2px solid var(--text);
    display: flex;
    flex-wrap: wrap;
}

.three-by-three-grid:nth-of-type(2n) {
    background-color: var(--secondary);
}

.number-grid {
    height: 50px;
    width: 50px;
    border: 1px solid var(--text);
    text-align: center;
    line-height: 50px;
}

.numpad {
    width: fit-content;
}

.numpad-row {
    display: flex;
    width: 225px;
    margin: 20px 0;
    justify-content: space-between;
}

.number {
    background-color: var(--secondary);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    border: 2px solid var(--text);
    transition: 0.3s;
}

.number:hover {
    filter: drop-shadow(3px 3px 0 #000000);
}

.number-selected {
    background-color: var(--primary);
}

.number-pencil-marking {
    border: 2px dashed var(--text);
}

.pencil-markings {
    height: 40px;
    width: 80px;
    background-color: var(--background);
    border: 2px solid var(--text);
    border-radius: 20px;
    margin: auto;
    transition: 0.3s;

}

.slider {
    height: 90%;
    aspect-ratio: 1/1;
    margin: 2px;
    background-color: var(--primary);
    border-radius: 50%;
    transition: 0.3s;
}

.slider-enabled {
    transform: translateX(39.5px);
}

.slider-enabled-bg {
    background-color: var(--secondary);
    border: 2px dashed var(--text);
}